extends layout

block content
  h1= title
  - let results = [{pen_name:'Parker',ink:'black',cost:100},{pen_name:'reynolds',ink:'blue',cost:150},{pen_name:'pedig',ink:'snuf',cost:200}]
  div(class="container-fluid")
    div(class="row")
      each item, index in results  
        div(class="col-sm-2",onclick=`buy(${index})`)
          p #{item.pen_name} 
          p #{item.ink}
          p #{item.cost} 
  script.
    function buy(index) {
    alert("You purchased item " + index);}