extends layout

block content
  h1= title
  - let items = results
      div(class="container-fluid")
        - let x = `dispatch(\"/pen/create\")`
        button.btn( class="btn-primary ml-1", onclick= x) create
        div(class="row m-1")
          each item in items
            - let destination = `dispatch(\"/pen/update?id=${item._id}\")`
            - let destinatio = `dispatch(\"/pen/delete?id=${item._id}\")`
            - let destinaton = `dispatch(\"/pen/detail?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") Item #{item.pen_name}(#{item.ink}) is #{item.cost}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
            button.btn( class="btn-primary ml-1", onclick= destinatio) delete
            button.btn( class="btn-primary ml-1", onclick= destinaton) detail
      script.
        function dispatch(path){
          window.location.href=path
          }