extends layout
block content
    h1= title
    if (toShow == null)
       h2 No instance to detail
    else
        - let penid = toShow._id
        - let pen_name = toShow.pen_name
        - let ink = toShow.ink
        - let cost = toShow.cost
        div
            div.row
            div(class='penAttr mr-3') pen ID is:
            div #{penid}
            div.row
            div(class='penAttr mr-3') pen name is:
            div #{pen_name}
            div.row
            div(class='penAttr mr-3') ink :
            div #{ink}
            div.row
            div(class='penAttr mr-3') Cost is:
            div #{cost}